Data Sources/XML/Players.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="players">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="player">
          <xs:complexType>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="firstName" type="xs:string" use="optional" />
            <xs:attribute name="lastName" type="xs:string" use="optional" />
            <xs:attribute name="number" type="xs:unsignedByte" use="required" />
            <xs:attribute name="position" type="xs:string" use="required" />
            <xs:attribute name="teamId" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="salary" type="xs:unsignedShort" use="required" />
            <xs:attribute name="homeTeamId" type="xs:string" use="optional" />
            <xs:attribute name="awayTeamId" type="xs:string" use="optional" />
            <xs:attribute name="teamid" type="xs:unsignedByte" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>